{% extends "dashboard_base.html" %}

{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block dashboard_content %}
    <div class="container-fluid p-3">

      <div class="parent d-flex align-items-center justify-content-between">
        <div class="left d-flex flex-column">
          <h5 class="fw-bold mb-1">Dashboard</h5>
          <small class="text-secondary mt-0">Welcome back, Admin!</small>
        </div>

        <div class="right d-flex align-items-center">
          <i class="bi bi-calendar-week text-secondary"></i>
          <small class="text-secondary ms-2">{{ today|date:"d F Y, l" }}</small>
        </div>

      </div>

      <div class="px-0">
          <div class="row mt-3">


            <div class="col-lg-3">
              <a href="{% url 'books_list' %}" class="card-link">
                <div class="card dashboard-card shadow-sm w-100">
                  <div class="card-body p-3">
                    <div class="info-box d-flex align-items-start">

                      <div class="icon-box icon-blue d-flex align-items-center justify-content-center">
                        <i class="bi bi-book text-white card-icon"></i>
                      </div>
                      
                      <div class="text-box d-flex flex-column ms-4 mt-1">
                        <h6>Book Titles</h6>
                        <h2 class="fw-bold mb-0">{{ total_books }}</h2>

                        <div class="link-box link-blue d-flex align-items-center mt-3">
                          <span>View all books</span>
                          <i class="bi bi-arrow-right ms-1"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
            </div>


            <div class="col-lg-3">
              <a href="{% url 'members_list' %}" class="card-link">
                <div class="card dashboard-card shadow-sm w-100">
                  <div class="card-body p-3">
                    <div class="info-box d-flex align-items-start">

                      <div class="icon-box icon-green d-flex align-items-center justify-content-center">
                        <i class="bi bi-people-fill text-white card-icon"></i>
                      </div>

                      <div class="text-box d-flex flex-column ms-4 mt-1">
                        <h6>Total Members</h6>
                        <h2 class="fw-bold mb-0">{{ total_member }}</h2>

                        <div class="link-box link-green d-flex align-items-center mt-3">
                          <span>View all members</span>
                          <i class="bi bi-arrow-right ms-1"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
            </div>



            <div class="col-lg-3">
              <a href="{% url 'transaction_list' %}?status=issued" class="card-link">
                <div class="card dashboard-card shadow-sm w-100">
                  <div class="card-body p-3">
                    <div class="info-box d-flex align-items-start">

                      <div class="icon-box icon-orange d-flex align-items-center justify-content-center">
                        <i class="bi bi-arrow-left-right text-white card-icon"></i>
                      </div>

                      <div class="text-box d-flex flex-column ms-4 mt-1">
                        <h6>Total Issued</h6>
                        <h2 class="fw-bold mb-0">{{ total_issued }}</h2>

                        <div class="link-box link-orange d-flex align-items-center mt-3">
                          <span>View issued books</span>
                          <i class="bi bi-arrow-right ms-1"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
            </div>



            <div class="col-lg-3">
              <a href="{% url 'transaction_list' %}?status=overdue" class="card-link">
                <div class="card dashboard-card shadow-sm w-100">
                  <div class="card-body p-3">
                    <div class="info-box d-flex align-items-start">

                      <div class="icon-box icon-red d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-rupee text-white card-icon"></i>
                      </div>

                      <div class="text-box d-flex flex-column ms-4 mt-1">
                        <h6>Pending Fines</h6>
                        <h2 class="fw-bold mb-0">₹{{ pending_fines }}</h2>

                        <div class="link-box link-red d-flex align-items-center mt-3">
                          <span>View all fines</span>
                          <i class="bi bi-arrow-right ms-1"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
            </div>
            



          </div>
      </div>


      <div class="container-fluid">
          <div class="row mt-3  align-items-stretch">
            <div class="col-lg-7">

              
              <div class="card dashboard-table-card w-100 h-100">
                <div class="card-body">
                  <div class="dashboard-table-header d-flex justify-content-between align-items-center">
                    <div class="left">
                      <h6 class="fw-bold mb-0">Recent Issued Books</h6>
                    </div>

                    <div class="right">
                      <a href="{% url 'transaction_list' %}" class="btn btn-outline-secondary btn-sm">View All</a>
                    </div>
                  </div>


                  <div class="table-content">
                    <table class="table">
                      <thead class="dashboard-table-head">
                        <tr>
                          <th>Book Title</th>
                          <th>Member</th>
                          <th>Issue Date</th>
                          <th>Due Date</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for transaction in recent_transactions %}
                          <tr>
                            <td>
                              {% if transaction.book.book_cover %}
                                  <img src="{{ transaction.book.book_cover.url }}" class="book-image">
                              {% else %}
                                  <img src="{% static 'images/books/default-book.png' %}" class="book-image">
                              {% endif %}
                              <span class="member-member_id" title="{{ transaction.book.title }}">
                                  {{ transaction.book.title }}
                              </span>
                            </td>
                            <td>
                              <span class="member-full_name" title="{{ transaction.member.full_name }}">
                                  {{ transaction.member.full_name }}
                              </span>
                            </td>
                            <td>
                              <span class="member-email" title="{{ transaction.issue_date }}">
                                  {{ transaction.issue_date }}
                              </span>
                            </td>
                            <td>
                              <span class="member-phone" title="{{ transaction.due_date }}">
                                  {{ transaction.due_date }}
                              </span>
                            </td>
                            <td>
                              <span class="member-join_date" title="{{ transaction.status }}">
                                  {% if transaction.status == "returned" %}

                                      <span class="status-badge returned-badge">Returned</span>

                                  {% elif transaction.status == "issued" and transaction.due_date < today %}

                                      <span class="status-badge overdue-badge">Overdue</span>

                                  {% else %}

                                      <span class="status-badge issued-badge">Issued</span>

                                  {% endif %}
                              </span>
                            </td>
                          </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>


                </div>
              </div>


            </div>


            <div class="col-lg-5">
              <a href="{% url 'books_list' %}" class="text-decoration-none">
                <div class="card dashboard-table-card w-100 h-100">
                  <div class="card-body">

                    <div class="chart-header">
                        <h6 class="fw-bold mb-0">Books by Category</h6>
                    </div>

                    <div class="chart-body">
                      <div class="chart-container">
                        <canvas id="categoryChart"></canvas>
                      </div>
                    </div>

                  </div>
                </div>
              </a>

            </div>
          </div>
      </div>


    </div>
{% endblock %}

{% block js %}

    <script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}