{% extends "dashboard_base.html" %}

{% load static %}

{% block title %}
    LMS Settings
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}
    
{% block dashboard_content %}
    <div class="container-fluid px-3 py-1">

        <div class="d-flex align-items-center">
            <i class="bi bi-gear-fill setting_icon"></i>
            <div class="d-flex align-items-center">
                <h2 class="mb-0 fw-bold settings_text">Settings</h2>
            </div>
        </div>

        <div class="note mb-2">
            <span>Manage all system settings and preferences</span>
        </div>


        <div class="settings-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="issue-tab" data-bs-toggle="tab" data-bs-target="#issue" type="button" role="tab" aria-controls="issue" aria-selected="true">
                        <i class="bi bi-bookmark-check-fill text-primary"></i>
                        <span>Issue Settings</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="book-tab" data-bs-toggle="tab" data-bs-target="#book" type="button" role="tab" aria-controls="book" aria-selected="false">
                        <i class="bi bi-book-half text-warning"></i>
                        <span>Book Settings</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email" type="button" role="tab" aria-controls="email" aria-selected="false">
                        <i class="bi bi-envelope-fill text-success"></i>
                        <span>Email Settings</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="notification-tab" data-bs-toggle="tab" data-bs-target="#notification" type="button" role="tab" aria-controls="notification" aria-selected="false">
                        <i class="bi bi-bell-fill text-danger"></i>
                        <span>Notification Settings</span>
                    </button>
                </li>
            </ul>
            
        </div>

        

        <form method="POST">
            {% csrf_token %}

            <div class="card shadow-sm border-0 rounded-3 mt-2">
                <div class="card-body card-hight">

                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="issue" role="tabpanel" aria-labelledby="issue-tab">
                            
                            <div class="fw-bold fs-5">Issue Settings</div>
                            <div class="fs-6">Configure loan policies for different member types.</div>

                            <div class="card shadow-sm mt-2">
                                <div class="card-body card_fist">

                                    <div class="row">
                                        <div class="col">
                                            <span class="fw-bold">Member Type</span>
                                        </div>

                                        <div class="col">
                                            <div class="fw-bold">Maximum Books</div>
                                            <span class="fw-bold">(At a time)</span>
                                        </div>

                                        <div class="col">
                                            <div class="fw-bold">Loan Period</div>
                                            <span class="fw-bold">(Days)</span>
                                        </div>

                                        <div class="col">
                                            <div class="fw-bold">Fine Per Day</div>
                                            <span class="fw-bold">(₹)</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="card shadow-sm">
                                <div class="card-body card_values">

                                    <div class="row">
                                        <div class="col">
                                            <div class="d-flex">
                                                <i class="bi bi-mortarboard-fill student_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Student</div>
                                                    <div class="sub_text">Regular students of</div>
                                                    <div class="sub_text">the institute</div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="col">
                                            <input type="number" name="student_max_books" class="mt-2" min="1" value="{{ student_settings.max_books }}">
                                        </div>

                                        <div class="col">
                                            <input type="number" name="student_loan_period" class="mt-2" min="1" value="{{ student_settings.loan_period }}">
                                        </div>

                                        <div class="col">
                                            <input type="number" name="student_fine_per_day" class="mt-2" min="1" value="{{ student_settings.fine_per_day }}">
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card shadow-sm">
                                <div class="card-body card_values">

                                    <div class="row">
                                        <div class="col">
                                            
                                            <div class="d-flex">
                                                <i class="bi bi-person-workspace teacher_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Teacher</div>
                                                    <div class="sub_text">Teaching faculty</div>
                                                    <div class="sub_text">members</div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">
                                            <input type="number" name="teacher_max_books" class="mt-2" min="1" value="{{ teacher_settings.max_books }}">
                                        </div>

                                        <div class="col">
                                            <input type="number" name="teacher_loan_period" class="mt-2" min="1" value="{{ teacher_settings.loan_period }}">
                                        </div>

                                        <div class="col">
                                            <input type="number" name="teacher_fine_per_day" class="mt-2" min="1" value="{{ teacher_settings.fine_per_day }}">
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card shadow-sm">
                                <div class="card-body card_values">

                                    <div class="row">
                                        <div class="col">
                                            
                                            <div class="d-flex">
                                                <i class="bi bi-people-fill staff_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Staff</div>
                                                    <div class="sub_text">Administrative and</div>
                                                    <div class="sub_text">other staff</div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">
                                            <input type="number" name="staff_max_books" class="mt-2" min="1" value="{{ staff_settings.max_books }}">
                                        </div>

                                        <div class="col">
                                            <input type="number" name="staff_loan_period" class="mt-2" min="1" value="{{ staff_settings.loan_period }}">
                                        </div>

                                        <div class="col">
                                            <input type="number" name="staff_fine_per_day" class="mt-2" min="1" value="{{ staff_settings.fine_per_day }}">
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card shadow-sm mt-3">
                                <div class="card-body last_card p-0">

                                    <div class="title_text">
                                        <i class="bi bi-exclamation-circle m-2 text-primary"></i>
                                        <span class="fw-bold">How it works ?</span>
                                    </div>

                                    <div class="sub_title_text">
                                        <div>• System will apply the above policy based on member type during book issue.</div>
                                        <div>• Fine will be calculated as: Fine Per Day ✕ Number of Overdue Days.</div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="book" role="tabpanel" aria-labelledby="book-tab">
                            
                            <div class="fw-bold book_se_text">Book Settings</div>

                            <div class="">Configure preferences related to books in the library.</div>

                            <div class="card shadow-sm border-0 rounded-3 main_card_margin">
                                <div class="card-body hight_book_fist_card">


                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="fw-bold low_book">Low Stock Alert Limit</div>
                                            <div>Show alert when available copies are equal to or less than this limit.</div>
                                        </div>

                                        <div >
                                            <input type="number" name="low_stock_alert_limit" value="{{ book_settings.low_stock_alert_limit }}" id="" min="0" class="low_stock_input">
                                        </div>

                                    </div>


                                </div>
                            </div>


                            <div class="card shadow-sm border-1 rounded-3 main_card_margin_sec">
                                <div class="card-body hight_book_secound_card">

                                    <div class="d-flex align-items-center stock_error">
                                        <i class="bi bi-exclamation-circle-fill"></i>
                                        <div class="m-1">An alert notification will be sent when available copies are equal to or less than the set limit.</div>
                                    </div>

                                </div>
                            </div>

                        </div>



                        <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">

                            <div>
                                <div class="fw-bold email_settings_heding">Email Settings</div>
                                <span class="email_setting_sub_heading">Configure email notification and alerts.</span>
                            </div>

                            <div class="mt-1 top_not_massege shadow-sm">
                                <i class="bi bi-exclamation-circle-fill text-primary"></i>
                                <span>These emails will be sent automatically to members based on their activities.</span>
                            </div>

                            <table class="table mt-3 shadow-sm">
                                <thead>
                                    <tr>
                                        <th scope="col" class="py-3">Email Type</th>
                                        <th scope="col" class="py-3">Description</th>
                                        <th scope="col" class="py-3">Recipient</th>
                                        <th scope="col" class="py-3">Status</th>
                                        <th scope="col" class="py-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            
                                            <div class="d-flex">
                                                <i class="bi bi-envelope-fill welcome_email_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Welcome Email</div>
                                                </div>
                                            </div>

                                        </th>
                                        <td class="align-middle foun_size_secound_column">
                                            <div>Sent to new members when they</div>
                                            <div>register in the system.</div>
                                        </td>
                                        <td class="align-middle">New Members</td>
                                        <td class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Preview
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            
                                            <div class="d-flex">
                                                <i class="bi bi-book issue_email_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Book Issue Email</div>
                                                </div>
                                            </div>

                                        </th>
                                        <td class="align-middle foun_size_secound_column">
                                            <div>Sent when a book is issued</div>
                                            <div>to a member.</div>
                                        </td>
                                        <td class="align-middle">Member</td>
                                        <td class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Preview
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            
                                            <div class="d-flex">
                                                <i class="bi bi-arrow-return-left return_email_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Book Return Email</div>
                                                </div>
                                            </div>

                                        </th>
                                        <td class="align-middle foun_size_secound_column">
                                            <div>Sent when a member returns</div>
                                            <div>a book.</div>
                                        </td>
                                        <td class="align-middle">Member</td>
                                        <td class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Preview
                                            </button>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>
                                            
                                            <div class="d-flex">
                                                <i class="bi bi-exclamation-circle overdue_email_icon"></i>

                                                <div class="">
                                                    <div class="fw-bold">Overdue Reminder Email</div>
                                                </div>
                                            </div>

                                        </th>
                                        <td class="align-middle foun_size_secound_column">
                                            <div>Sent when a book is not returned</div>
                                            <div>on or before the due date.</div>
                                        </td>
                                        <td class="align-middle">Member</td>
                                        <td class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="btn btn-outline-primary">
                                                <i class="bi bi-eye"></i>
                                                Preview
                                            </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>


                            <div class="card shadow-sm border-1 rounded-3 email_card_margin_sec">
                                <div class="card-body hight_email_secound_card">

                                    <div class="d-flex align-items-center stock_error">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <div class="aleart_ma">Make sure your SMTP settings are configured correctly to send emails.</div>
                                    </div>

                                </div>
                            </div>

                        </div>



                        <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                            
                            <div>
                                <div class="fw-bold">Notification Settings</div>
                                <span class="email_setting_sub_heading">Configure in-app notification and alert preferences.</span>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 mb-3 mb-sm-0">
                                    <div class="card left-body">
                                    <div class="card-body left_card_body p-0">
                                        
                                        <div class="noti_heading rounded-top">
                                            Notification preferences
                                        </div>

                                        <table class="table table_border">
                                            <colgroup>
                                                <col style="width:60%">
                                                <col style="width:20%">
                                                <col style="width:20%">
                                            </colgroup>

                                            <tbody>
                                                <tr class="table-row-height">
                                                    <td>
                                                        <div class="d-flex">
                                                            <i class="bi bi-menu-button-wide low_stock_icon"></i>

                                                            <div class="">
                                                                <div class="fw-bold">Low Stock Alert</div>
                                                                <div class="sub_text">Get notified when available copies are equal to or less than the set limit.</div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="bi bi-bell"></i>
                                                        <span>Enable</span>
                                                    </td>
                                                </tr>

                                                <tr class="table-row-height">
                                                    <td>
                                                        <div class="d-flex">
                                                            <i class="bi bi-clipboard2-pulse-fill book_issue_icon"></i>

                                                            <div class="">
                                                                <div class="fw-bold">Book Issue Alert</div>
                                                                <div class="sub_text">Get notified when a book is issued to a member.</div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="bi bi-bell"></i>
                                                        <span>Enable</span>
                                                    </td>
                                                </tr>


                                                <tr class="table-row-height">
                                                    <td>
                                                        <div class="d-flex">
                                                            <i class="bi bi-arrow-return-left book_return_icon"></i>

                                                            <div class="">
                                                                <div class="fw-bold">Book Return Alert</div>
                                                                <div class="sub_text">Get notified when a book is returned by a member.</div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="bi bi-bell"></i>
                                                        <span>Enable</span>
                                                    </td>
                                                </tr>


                                                <tr class="table-row-height">
                                                    <td>
                                                        <div class="d-flex">
                                                            <i class="bi bi-exclamation-circle-fill overdue_icon"></i>

                                                            <div class="">
                                                                <div class="fw-bold">Overdue Alert</div>
                                                                <div class="sub_text">Get notified when a book is overdue.</div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="bi bi-bell"></i>
                                                        <span>Enable</span>
                                                    </td>
                                                </tr>


                                                <tr class="table-row-height">
                                                    <td>
                                                        <div class="d-flex">
                                                            <i class="bi bi-currency-rupee fine_alert_icon"></i>

                                                            <div class="">
                                                                <div class="fw-bold">Fine Alert</div>
                                                                <div class="sub_text">Get notified when a fine is applied to a member.</div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="bi bi-bell"></i>
                                                        <span>Enable</span>
                                                    </td>
                                                </tr>


                                                <tr class="table-row-height">
                                                    <td>
                                                        <div class="d-flex">
                                                            <i class="bi bi-person-fill-add new_member_icon"></i>

                                                            <div class="">
                                                                <div class="fw-bold">New Member Alert</div>
                                                                <div class="sub_text">Get notified when a new member registers.</div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="bi bi-bell"></i>
                                                        <span>Enable</span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">

                                    <div class="card left-body">
                                    <div class="card-body">
                                        
                                        <div class="fw-bold notification_main_tone">Notification Tone</div>
                                        <div class="notification_tone_sub">Select a sound for in-app notification</div>

                                        <select name="" id="" class="select_option shadow-sm">
                                            <option value="">
                                                🔔 Default Tone
                                            </option>
                                        </select>

                                        <button type="button" class="btn btn-outline-dark shadow-sm text-primary test_tone fw-bold">
                                            <i class="bi bi-caret-right test_botton_icon"></i>
                                            Test Tone
                                        </button>

                                    </div>
                                    </div>

                                    <div class="card left_body_secound">
                                        <div class="card-body p-2">
                                            <div class="fw-bold">Additional Options</div>

                                            <table class="table mt-2">
                                                <tbody>
                                                    <tr class="costum-row">
                                                        <td class="align-middle">
                                                            <div class="fw-bold notifi_main_size">Enable Notification Sound</div>
                                                            <span class="notifi_secound_size">Play sound for notification</span>
                                                        </td>
                                                        <td class="align-middle text-end">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="costum-row">
                                                        <td class="align-middle">
                                                            <div class="fw-bold notifi_main_size">Show Desktop Notification</div>
                                                            <span class="notifi_secound_size">Show notification on desktop</span>
                                                        </td>
                                                        <td class="align-middle text-end">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="costum-row">
                                                        <td class="align-middle">
                                                            <div class="fw-bold notifi_main_size">Show Badge Count</div>
                                                            <span class="notifi_secound_size">Show unread count on bell icon</span>
                                                        </td>
                                                        <td class="align-middle text-end">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    

                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>


            <div class="d-flex justify-content-end gap-3 mt-3 mb-2 d-flex ">
                <button type="button" class="btn btn-outline-secondary" onclick="location.reload()">
                    <i class="bi bi-arrow-repeat"></i>
                    Reset to Default
                </button>

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-file-earmark-post-fill"></i>
                    Save Changes
                </button>
            </div>
        </form>
        


    </div>
{% endblock %}