{% extends "base.html" %} 

{% load static %} 

{% block title %}Admin Dashboard{% endblock %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard_base.css' %}" />
{% endblock %} 

{% block content %}
<div class="container-fluid p-0">
    
  <div class="row min-vh-100 gx-0">
    <div class="col-2 bg-dark p-4">
      <div class="brand d-flex align-items-center">
        <img class="sidebar-logo mb-1 bg-white rounded p-2" src="{% static 'images/logo.png' %}" />
        <div class="d-flex flex-column justify-content-center ms-3">
            <h4 class="text-white fw-bold mb-1">LMS</h4>
            <small class="lm">Library Management</small>
        </div>
      </div>
      <hr class="border border-secondary opacity-100" />


      <a href="{% url 'dashboard' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center py-2 px-3 rounded mt-3 mb-2 nav-link {% if request.resolver_match.url_name == 'dashboard' %}active-menu{% endif %}">
          <i class="bi bi-house-door ps-3"></i>
          <span class="ps-1">Dashboard</span>
        </div>
      </a>

      <small class="manage mt-2 mb-2">MANAGE</small>

      <a href="{% url 'books_list' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-1 mb-2  nav-link {% if '/books/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-book ps-3"></i>
            <span class="ps-1">Books</span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>


      <a href="{% url 'members_list' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-1 mb-2 nav-link {% if '/members/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-people ps-3"></i>
          <span class="ps-1">Members</span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>

      <a href="{% url 'transaction_list' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-1 mb-2 nav-link {% if '/transactions/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-arrow-left-right ps-3"></i>
          <span class="ps-1">Issue/Return</span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>

      <a href="{% url 'reports_dashboard' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-1 mb-2 nav-link {% if '/reports/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-bar-chart-line ps-3"></i>
          <span class="ps-1">Reports</span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>


      <small class="manage mt-2 mb-2">SYSTEM</small>


      <a href="{% url 'settings_page' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-1 mb-2 nav-link {% if '/settings/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-gear-fill ps-3"></i>
          <span class="ps-1">Settings</span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>


      <a href="{% url 'email_dashboard' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-1 mb-2 nav-link {% if '/email_management/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-envelope-fill ps-3"></i>
          <span class="ps-1">Email Management </span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>


      <a href="{% url 'notification_list' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 pe-2 rounded mt-0 mb-2 nav-link {% if '/notifications/' in request.path %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-bell-fill ps-3"></i>
          <span class="ps-1">Notifications</span>
          </div>
          <div class="right">
            <i class="bi bi-arrow-right-short"></i>
          </div>
        </div>
      </a>



      <small class="manage mt-2 mb-2">ACCOUNT</small>

      <a href="{% url 'profile' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 rounded mt-0 mb-1 {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'edit_profile' %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-person ps-3"></i>
          <span class="ps-1">Profile</span>
          </div>
        </div>
      </a>


      <a href="{% url 'change_password' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 rounded mt-0 mb-1 {% if request.resolver_match.url_name == 'change_password' %}active-menu{% endif %}">
          <div class="left">
            <i class="bi bi-key ps-3"></i>
          <span class="ps-1">Change Password</span>
          </div>
        </div>
      </a>

      <a href="{% url 'logout' %}" class="text-decoration-none">
        <div class="menu-item d-flex align-items-center justify-content-between py-2 rounded mt-1">
          <div class="left">
            <i class="bi bi-box-arrow-right ps-3"></i>
          <span class="ps-1">Logout</span>
          </div>
        </div>
      </a>

      
    </div>


    <div class="col-10 bg-light">

      <div class="top_navbar bg-white p-1 shadow-sm d-flex align-items-center justify-content-between">

        <div class="navbar-left d-flex align-items-center">
          
          <i class="bi bi-list fs-3 ms-2"></i>

          <form method="GET" action="{% url 'global_search' %}">
            <div class="input-group ms-4" style="width: 450px;">
              <input
                  type="text"
                  name="q"
                  class="form-control"
                  placeholder="Search books, members..."
                  
              >
              <button class="btn btn-outline-secondary">
                  <i class="bi bi-search"></i>
              </button>

            </div>
          </form>

        </div>

        <div class="navbar-right d-flex align-items-center">
          <a href="{% url 'notification_list' %}" class="position-relative">

            <i class="bi bi-bell fs-6"></i>

            {% if notification_settings.show_badge_count and unread_count > 0 %}
              <span class="notification_badge">{{ unread_count }}</span>
            {% endif %}

          </a>


          <a href="{% url 'profile' %}" class="a_tag_admin_name">
            <div class="Profile_Section d-flex align-items-center ms-3 me-3">
              <img src="{% static 'images/profile/defult-user.png' %}" class="rounded-circle logo_profile_image">

              <small class="me-2 user_name_admin">
                {{ request.user.username|title }}
              </small>
            </div>
          </a>

        </div>

      </div>

      {% block dashboard_content %}
      {% endblock %}


    </div>
  </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">

  {% if messages %}
      {% for message in messages %}
          <div class="toast text-bg-success border-0" role="alert" data-bs-delay="3000" data-bs-authohide="true" data-notification="true">

            <div class="d-flex">
              <div class="toast-body">
                  {{ message }}
              </div>

              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast">

              </button>

            </div>

          </div>
      {% endfor %}
  {% endif %}

</div>
{% endblock %}
{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function () {


    const toastElList = document.querySelectorAll(".toast");

    toastElList.forEach(function (toastEl) {
        const toast = new bootstrap.Toast(toastEl, {
            delay: 3000,
            autohide: true,
        });

        toast.show();
    });

    
    {% if notification_settings.notification_sound %}
        const audio = new Audio();

        {% if notification_settings.notification_tone == "bell" %}
            audio.src = "{% static 'sounds/bell.mp3' %}";
        {% elif notification_settings.notification_tone == "chime" %}
            audio.src = "{% static 'sounds/chime.mp3' %}";
        {% elif notification_settings.notification_tone == "success" %}
            audio.src = "{% static 'sounds/success.mp3' %}";
        {% else %}
            audio.src = "{% static 'sounds/default.mp3' %}";
        {% endif %}

        if (toastElList.length > 0) {
            audio.play().catch(function(){});
        }
    {% endif %}

});
</script>
{% endblock %}