
.main_card_pass{
    height: 600px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 45px;
    border: none;
}

.fist_img{
    height: 400px;
    width: 450px;
    padding-left: 6px;
    padding-bottom: 0px;
    margin-top:25px;
    margin-bottom: 30px;
}

.security_tip{
    color: blueviolet;
}


.shield_icon{
    font-size: 40px;
    height: 60px;
    width: 60px;
    padding-top: 3px;
    padding-left: 8px;
    color: blueviolet;
    background-color: rgb(237, 217, 255);
    border-radius: 5px;
}


.left_side_last_text{
    font-size: 12px;
}


.secound_class{
    padding-right: 20px;
    padding-left: 20px;
}

.verify_otp_text{
    font-size: 28px;
}

.subtext{
    font-size: 16px;
    color: #959292;
    margin-bottom: 45px;
}

.lock_icons{
    color: blueviolet;
}

.input-group-change{
    margin-top: 10px;
    height: 50px;
}

.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
}

.send_btn{
    background-color: blueviolet;
    width: 100vw;
    color: white;
    margin-top: 35px;
    height: 50px;
}

.send_btn:hover{
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
}

