.header{
    background-color: rgb(95, 72, 98);
    height: 60px;
    color: white;
}

.login-logo{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 14px;
}


.LMS_name{
    font-size: 18px;
    font-weight: bold;
}

.text_dot_color{
    color: rgb(134, 69, 194);
}

.main_card{
    height: 550px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border: none;
}


.fist_img{
    height: 500px;
    width: 460px;
    padding-left: 35px;
    padding-bottom: 0px;
    margin-top:5px;
}

.left_side_last_text{
    font-size: 12px;
}

.page_no{
    font-size: 14px;
    padding: 5px;
    color: green;
    background-color: rgb(217, 240, 220);
    border-radius: 5px;
}

.pass_changed_text{
    font-size: 45px;
    margin-top: 50px;
}

.success_pass_text{
    font-size: 50px;
}


.subtext{
    font-size: 25px;
    color: #959292;
    margin-top: 40px;
}

.go_to{
    margin-top: 40px;
    width: 400px;
    height: 50px;
    font-size: 20px;
}


.bottom_icon{
    font-size: 18px;
    font-weight: 700;
    color: rgb(122, 120, 120);
}


.bottom_fist{
    color: rgb(122, 120, 120);
}

.bottom_last{
    font-size: 14px;
    color: rgb(161, 161, 161);
}

