.header{
    background-color: rgb(95, 72, 98);
    height: 60px;
    color: white;
}

.login-logo{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 14px;
}


.LMS_name{
    font-size: 18px;
    font-weight: bold;
}

.text_dot_color{
    color: rgb(134, 69, 194);
}

.main_card{
    height: 550px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border: none;
}

.left_side{
    border-right: 1px solid #e3e0e0;
}

.fist_img{
    height: 400px;
    width: 500px;
    padding-left: 25px;
    padding-bottom: 0px;
    margin-top:25px;
}

.security_tip{
    color: blueviolet;
}

.shield_icon{
    font-size: 24px;
    height: 40px;
    width: 40px;
    padding-top: 4px;
    padding-left: 8px;
    color: blueviolet;
    background-color: rgb(237, 217, 255);
    border-radius: 5px;
}

.left_side_last_text{
    font-size: 12px;
}

.page_no{
    font-size: 14px;
    padding: 5px;
    color: blueviolet;
    background-color: rgb(230, 217, 240);
    border-radius: 5px;
}

.verify_otp_text{
    font-size: 26px;
}

.subtext{
    font-size: 14px;
    color: #959292;
}

.bottom_icon{
    font-size: 18px;
    font-weight: 700;
    color: rgb(122, 120, 120);
}

.bottom_fist{
    color: rgb(122, 120, 120);
}

.bottom_last{
    font-size: 14px;
    color: rgb(161, 161, 161);
}


.secound_class{
    padding-right: 20px;
    padding-left: 20px;
}


.back_btn{
    width: 100vw;
    color: blueviolet;
    height: 50px;
    border: 1px solid blueviolet;
    font-size: 18px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.back_btn:hover{
    color: blueviolet;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    border: 1px solid blueviolet;
}
.or-divider{
    display:flex;
    align-items:center;
    margin:12px 0;
}

.or-divider::before,
.or-divider::after{
    content:"";
    flex:1;
    height:1px;
    background:#ddd;
}

.or-divider span{
    margin:0 15px;
    padding:4px 12px;
    border:1px solid #ddd;
    border-radius:20px;
    background:#fff;
    color:#777;
    font-size:14px;
    font-weight:600;
}

.input-group{
    margin-top: 10px;
    height: 50px;
}

.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
}

.lock_icons{
    color: blueviolet;
}

.send_btn{
    background-color: blueviolet;
    width: 100vw;
    color: white;
    margin-top: 35px;
    height: 50px;
}

.send_btn:hover{
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
}

